{% extends 'base.html.twig' %}

{% block body %}

  <div class="container">
    <h1>Oda Ekle</h1>

    {{ form_start(our_form) }}
    {{ form_widget(our_form) }}
    {{ form_end (our_form) }}
</div>
{% endblock %}